.container-flex {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}
.header {
  background-color: #aaaaaa;
  /*background-color: deeppink;*/
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.sidebar {
  background-color: #333333;
  grid-column: 1/2;
  grid-row: 1/3;
  color: white;
  text-align: center;
}

.main {
  background-color: #555555;
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-y: auto
}
