<div class="content-header">
  <h1>{{title}}</h1>
</div>


<div class="row">
  <div class="col-md-7 ">
    <div class="row">
      <p-card class="mb-5" header="A header">
        <img src="./assets/images/sunflowers.jpg" alt="" class="img-fluid">
        <ng-template pTemplate="footer">
          Just a footer
        </ng-template>
      </p-card>
      <p-card class="mb-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet commodi cupiditate eaque earum fuga
          harum id illo laborum maiores obcaecati odio placeat porro possimus quia, sapiente sequi tenetur vel!</p>
      </p-card>
      <p-card header="Another header">
        <img src="https://images.pexels.com/photos/8646933/pexels-photo-8646933.jpeg" alt="" class="img-fluid">
        <ng-template pTemplate="footer">
          Just another footer
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <p-card class="col-12 mb-5">
        <img
          src="https://images.pexels.com/photos/541484/sun-flower-blossom-bloom-pollen-541484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="" class="img-fluid">
      </p-card>
      <p-card class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam delectus dicta doloremque
          dolores error est eveniet fuga in laudantium minima minus, neque nesciunt quod recusandae repellendus
          temporibus ullam voluptas.
        </p>
      </p-card>
      <p-card class="col-12 mb-5">
        <img src="./assets/images/sunflowers.jpg" alt="" class="img-fluid">
      </p-card>
      <p-card class="col-12 mb-5">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta error esse libero minima molestias
          nulla quae reiciendis. Eveniet facere ipsam molestias non ullam! Accusantium amet at autem dolor doloremque
          enim eveniet, exercitationem fuga fugiat illum incidunt inventore iure laborum, magnam modi molestias
          officia provident quam quibusdam quisquam repudiandae sequi, sint tempore totam unde ut voluptate? Accusamus
          dolore, dolorem ea fugiat nam nulla quisquam sequi. Atque aut dolore dolorum perspiciatis quia reiciendis
          veritatis? Accusamus adipisci aliquam amet aut culpa, cupiditate expedita facere, fuga harum hic id in iure
          iusto magni molestiae nostrum odio odit omnis perspiciatis provident quidem quos ullam.
        </p>
      </p-card>
      <p-card>
        <img src="./assets/images/sunflowers.jpg" alt="" class="img-fluid">
      </p-card>
    </div>
  </div>
</div>

